<header class="full bg-blue">
  <section class="landing-header p-100">
    <h1 class="text-center white pb-50 header-title">Let's Create!</h1>
    <p class="text-center white header-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <span class="block header-divider pb-20"></span>
  </section>
</header>
