<header class="full bg-blue" style="background-image: url('http://quotesideas.com/wp-content/uploads/2016/01/turtle-shell-final-fantasy-32908-3840x2160.jpg'); background-position: 50% 50%;">
  <section class="p-100 md:p-50 sm:p-20 bg-trans-black">
    <div class="container">
      <h1 class="text-center white pb-20 header-title">Featured Story</h1>
      <div class="header-featured white mb-20">
        <a href="" class="header-author">Brian Griffin</a>
        <p class="text-left white header-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="text-left white header-paragraph"><a href="" class="medium">Go to Story</a></p>
      </div>
      <span class="block header-divider pb-20"></span>
      <div class="featured-stories mt-100 sm:mt-50">
        <div class="story-pod" style="background-image: url('https://wallpapertag.com/wallpaper/full/a/7/b/36111-beautiful-fantasy-backgrounds-1920x1080.jpg'); background-position: 50% 50%;">
          <div class="bg-trans-black p-20">
            <h3>Story A</h3>
            <div class="py-20">
              <a href="" class="bold">Serene Montague</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p><a href="" class="medium">Go to Story</a></p>
            </div>
          </div>
        </div>
        <div class="story-pod" style="background-image: url('https://images.alphacoders.com/125/thumb-1920-125091.jpg'); background-position: 50% 50%;">
          <div class="bg-trans-black p-20">
            <h3>Story B</h3>
            <div class="py-20">
              <a href="" class="bold">Doris Crusher</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p><a href="" class="medium">Go to Story</a></p>
            </div>
          </div>
        </div>
        <div class="story-pod" style="background-image: url('https://i.imgur.com/RIhHH2f.jpg'); background-position: 50% 50%;">
          <div class="bg-trans-black p-20">
            <h3>Story C</h3>
            <div class="py-20">
              <a href="" class="bold">Aaron Polaski</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p><a href="" class="medium">Go to Story</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
