<section class="bg-alt-blue login-bar">
  <form>
    <input type="email" id="login_email" name="login_email" placeholder="Email Address">
    <input type="password" id="login_password" name="login_password" placeholder="Password">
    <button class="button bg-pink hov:bg-blue white">Sign in</button>
  </form>
</section>