.toolbox-container {
  position: fixed;
  border-right: none;
  background-clip: padding-box;
  border-radius: 25px 0 0 25px;
  right: 0;
  top: 50vh;
  max-width: 33vw;
  overflow: hidden;
}

.toolbox-container-open {
  right: 33vw;
}

.toolbox {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.toolbox-buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.page-title-input {
  color: $white;
  border: none;
  font-family: $base-font-family;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;

  &::placeholder {
    color: $white;
    font-family: $base-font-family;
  }
}

.page-description-input {
  color: $white;
  border: none;
  font-family: $base-font-family;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;

  &::placeholder {
    color: $white;
    font-family: $base-font-family;
  }
}

.story-creator-toolbelt {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;

  button {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $pink;
    }
  }
}

.story-creator-toolbelt-generic-tools {
  position: absolute;
  right: 0;
}

.toolbelt-delete {
  &:hover {
    background-color: $red !important;
  }
}

.story-creator-card {
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.story-creator-page-card {
  color: $white;
  transform: scale(.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.story-creator-new-page-card {
  background-color: $pink;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20vh;
  width: 20vw;
}