.story-text-block {
  font-family: $base-serif-font-family;
  padding-bottom: 20px;
}

.story-interaction-block {
  background: $blue;
  color: $white;
  font-family: $base-serif-font-family;
  padding: 50px 0;
  margin-bottom: 20px;
}