input, textarea, select {
    border: 1px solid $black;
    height: inherit;
    background-color: transparent;
    margin-bottom: 20px;
    font-family: 'proxima-nova';
}

select, input {
    height: 50px;
}

textarea {
    height: 300px;
    line-height: 25px;
}

label {
    padding-bottom: 10px;
    display: block;
}

textarea {
    resize: none;
    width: 100%;
    padding-left: 10px;
}

select {
    &.disabled {
        opacity: 0.3;
    }
}
