{#
  Story Creator page template
  templates/create.twig
#}

{% extends "templates.base" %}
{% block header %}
  {% include 'components.create_header' %}
{% endblock %}
{% block content %}
  <section>
    <h2 class="text-center black">Create</h2>
    <div id="create-container">

    </div>
  </section>
{% endblock %}