{#
  Landing page template
  templates/landing.twig
#}

{% extends "templates.base" %}
{% block header %}
  {% include 'components.landing_header' %}
  {% include 'components.login_bar' %}
{% endblock %}
{% block content %}
  <section class="container landing-container">
    <h2 class="text-center">Join the Fun!</h2>
    <div class="full welcome-block">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices elit vel nisi tristique accumsan. Morbi sed neque ac metus dapibus eleifend nec et nisl. Suspendisse euismod auctor odio eu hendrerit. Vestibulum tincidunt magna ac leo efficitur suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris feugiat elit nec neque tristique rutrum. Maecenas rhoncus vulputate est at suscipit. Phasellus pulvinar cursus mi in facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ultrices elementum hendrerit.</p>
        <p>Etiam purus tellus, tristique non urna ac, malesuada dignissim eros. Proin dignissim dapibus nunc ut bibendum. Mauris id dapibus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus sed tellus purus. Phasellus posuere erat sollicitudin elit condimentum, quis pulvinar eros mollis. Cras facilisis posuere eros. Nulla tristique lectus et justo viverra feugiat. Etiam id odio nec lacus elementum dignissim. In vel quam non nulla imperdiet sodales. Duis feugiat tortor ut risus varius, et interdum odio venenatis. Aenean ut facilisis risus, vitae efficitur leo. Nam venenatis sollicitudin nisi, nec mollis est dictum ut.</p>
      </div>
      <div class="col">
        <h3 class="text-center">Sign up</h3>
        <form>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Email address">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Password">
          <label for="password-confirm">Confirm Password:</label>
          <input type="password-confirm" id="password-confirm" name="password-confirm" placeholder="Confirm Password">
          <button class="button bg-pink hov:bg-blue white">Sign in</button>
        </form>
      </div>
    </div>
  </section>
  <section class="bg-blue">
    <div class="container landing-container white">
      <h2 class="text-center">Don't feel like signing up?</h2>
      <p class="text-center">Don't worry! Signing up isn't required, you can skip to the juicy bits by clicking below. Signing up allows you to save your progress and create your own miraculous stories.</p>
      <div class="center text-center button-container">
        <a href="" class="button bg-pink hov:bg-dark-blue inline-block white">Show me the content</a>
      </div>
    </div>
  </section>
{% endblock %}